@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  margin: auto;
  margin-top: 50px;
  max-width: 60vw;
}

.google-link {
  color: #918E9B;
  font-size: 12px;
}

.location {
  line-height: 12px;
  letter-spacing: 0.17em;
  padding-right: 12px;
}

.location-photo {
  border-radius: 5px;
  max-height: 200px;
  max-width: 150px;
  object-fit: cover;
  width: 100%;
}

.map-info {
  display: flex;
  font-size: 14px;
  padding-bottom: 7px;
}

.map-info > img {
  max-height: 12px;
  max-width: 10px;
  padding-right: 4px;
  width: 100%;
}

.nav-bar {
  align-items: center;
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
}

.planet {
  padding: 16px 7px 16px 0;
  width: 24px;
}

.places {
  border-bottom: grey solid;
  display: flex;
  padding-top: 50px;
}

.text-block {
  padding-left: 20px;
}

.time-spent {
  padding-bottom: 9px;
}

.title {
  padding-bottom: 14px;
}