@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  margin: auto;
  margin-top: 50px;
  max-height: 704px;
  max-width: 550px;
  width: 100%;
}

.google-link {
  color: #918E9B;
  font-size: 12px;
}

.info {
  font-size: 10px;
  line-height: 15px;
}

.location {
  line-height: 12px;
  letter-spacing: 0.17em;
  padding-right: 12px;
}

.location-photo {
  border-radius: 5px;
  height: 170px;
  width: 125px;
  object-fit: cover;
  
}

.map-info {
  display: flex;
  font-size: 14px;
  padding-bottom: 7px;
}

.map-info > img {
  max-height: 12px;
  max-width: 12px;
  padding-right: 4px;
  width: 100%;
}

.nav-bar {
  align-items: center;
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
}

.planet {
  padding: 16px 7px 16px 0;
  width: 24px;
}

.places {
  border-bottom: 1px solid #F5F5F5;
  display: flex;
  padding-top: 50px;
}


.text-block {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.time-spent {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  padding-bottom: 9px;
}

.title {
  font-size: 25px;
  padding-bottom: 14px;
}