* {
  margin: 0;
}

body {
  margin: auto;
  margin-top: 50px;
  width: 50vw;
}

.nav-bar {
  align-items: center;
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
}

.planet {
  padding: 16px 7px 16px 0;
  width: 24px;
}